html
    head 
        link(rel="stylesheet", href="style.css")
    header
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="#") About
                li
                    a(href="/contact") Contact
                li
                    a(href="/location") Location
                li
                    a(href="/mission") Mission
    body
        h1 About
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum odit a inventore labore repellendus ex rerum doloribus reprehenderit error, fugiat, iure, necessitatibus doloremque! Nemo nulla minima odio sint sit!
    script(src="script.js") 