html
    head 
        link(rel="stylesheet", href="style.css")
    header 
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/about") About
                li
                    a(href="#") Contact
                li
                    a(href="/location") Location
                li
                    a(href="/mission") Mission
    body
        h1 Contacto
        p alberto@gmail.com
    script(src="script.js") 