html
    head 
        link(rel="stylesheet", href="style.css")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../public/style.css")
    header
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/about") About
                li
                    a(href="/contact") Contact
                li
                    a(href="/location") Location
                li
                    a(href="#") Mission
    body
        h1 Mission 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia animi maxime in quis, expedita quidem sed cum aspernatur illo. Accusamus praesentium cumque totam harum hic ea quo consectetur optio ipsam?
    script(src="script.js") 